/* Dando reset na pagina */
*{
    margin: 0;
    padding: 0;
}


/* Conteudo */
.conteudo-do-menu{
    background-color: black;
    width: 100%;
    height: 40px;
}


/* Banner */
.banner img{
    width: 100%;
    height: 290px;
    /* background-image: url("../img/fiel.jpg");  
    width: 100%;
    height: 290px; */
}


/* Elemento Pai */
.pai{
    margin: 30px;
}

.pai2{
    position: relative;
    padding-left: 420px;
    bottom: 352px;
}

.pai3{
    position: relative;
    padding-left: 810px;
    bottom: 672px;
}


/* Banner */
.cartao{    
    background-color: #55595c;
    max-width: 322px;
    height: 180px;
    margin-left: 10%;
    
}

.cartao img{
    position: absolute;
    width: 322px;
    height: 180px;
    margin-left: 10%;
    margin-left: -100px;
    margin-top: -80px;
}

.cartao span{
    position: absolute;
    margin: 80px;
    margin-left: 100px;
    margin-bottom: 30px;
}



.divBranca{
    border: 1px solid rgba(0, 0, 0, 0.2);   
    background-color: #ffffff;
    max-width: 320px;
    height: 140px;
    margin-left: 10%;
}

.divBranca span{
    position: absolute;
    max-width: 280px;
    margin: 20px;  
    text-align: justify;
    
}

